{
  "openapi": "3.1.0",
  "info": {
    "title": "Exa Public API",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.exa.ai"
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "bearer": []
    }
  ],
  "paths": {
    "/search": {
      "post": {
        "operationId": "search",
        "summary": "Search",
        "description": "Perform a search with an Exa prompt-engineered query and retrieve a list of relevant results. Optionally get contents.",
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.007",
            "max": "0.015"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "USDC.e"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "x-exa-queued": {
                "$ref": "#/components/headers/XExaQueued"
              },
              "x-exa-queue-ms": {
                "$ref": "#/components/headers/XExaQueueMs"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/SearchStreamChunk"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "402": {
            "description": "Payment required. For API-key requests this is the standard error envelope (out of credits or a budget exceeded). On x402-priced endpoints, requests without an API key instead receive an x402 payment challenge with tag `X402_PAYMENT_REQUIRED`: the envelope extended with x402 payment metadata (`x402Version`, `resource`, `accepts`, and optional `extensions`) describing how to pay for the request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/X402PaymentChallenge"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableResponse"
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "source": "curl -X POST https://api.exa.ai/search \\\n  -H \"x-api-key: $EXA_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n  \"query\": \"<query>\",\n  \"type\": \"auto\",\n  \"contents\": {\n    \"highlights\": true\n  }\n}'"
          },
          {
            "lang": "javascript",
            "source": "import Exa from \"exa-js\";\n\nconst exa = new Exa(process.env.EXA_API_KEY);\n\nconst result = await exa.search(\"<query>\", {\n  type: \"auto\",\n  contents: { highlights: true },\n});"
          },
          {
            "lang": "python",
            "source": "from exa_py import Exa\n\nexa = Exa(api_key=\"YOUR_API_KEY\")\n\nresult = exa.search(\n    \"<query>\",\n    type=\"auto\",\n    contents={\"highlights\": True},\n)"
          }
        ]
      }
    },
    "/contents": {
      "post": {
        "operationId": "getContents",
        "summary": "Contents",
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.001",
            "max": "0.010"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "USDC.e"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "x-exa-queued": {
                "$ref": "#/components/headers/XExaQueued"
              },
              "x-exa-queue-ms": {
                "$ref": "#/components/headers/XExaQueueMs"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "402": {
            "description": "Payment required. For API-key requests this is the standard error envelope (out of credits or a budget exceeded). On x402-priced endpoints, requests without an API key instead receive an x402 payment challenge with tag `X402_PAYMENT_REQUIRED`: the envelope extended with x402 payment metadata (`x402Version`, `resource`, `accepts`, and optional `extensions`) describing how to pay for the request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/X402PaymentChallenge"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableResponse"
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "source": "curl -X POST https://api.exa.ai/contents \\\n  -H \"x-api-key: $EXA_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n  \"urls\": [\n    \"<url>\"\n  ],\n  \"highlights\": true\n}'"
          },
          {
            "lang": "javascript",
            "source": "import Exa from \"exa-js\";\n\nconst exa = new Exa(process.env.EXA_API_KEY);\n\nconst result = await exa.getContents([\"<url>\"], {\n  highlights: true,\n});"
          },
          {
            "lang": "python",
            "source": "from exa_py import Exa\n\nexa = Exa(api_key=\"YOUR_API_KEY\")\n\nresult = exa.get_contents(\n    [\"<url>\"],\n    highlights=True,\n)"
          }
        ]
      }
    },
    "/answer": {
      "post": {
        "operationId": "answer",
        "summary": "Answer",
        "description": "Performs a search based on the query and generates either a direct answer or a detailed summary with citations, depending on the query type.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnswerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "x-exa-queued": {
                "$ref": "#/components/headers/XExaQueued"
              },
              "x-exa-queue-ms": {
                "$ref": "#/components/headers/XExaQueueMs"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnswerResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AnswerStreamChunk"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredResponse"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableResponse"
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "source": "curl -X POST https://api.exa.ai/answer \\\n  -H \"x-api-key: $EXA_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"query\":\"<query>\"}'"
          },
          {
            "lang": "javascript",
            "source": "import Exa from \"exa-js\";\n\nconst exa = new Exa(process.env.EXA_API_KEY);\n\nconst result = await exa.answer(\"<query>\");"
          },
          {
            "lang": "python",
            "source": "from exa_py import Exa\n\nexa = Exa(api_key=\"YOUR_API_KEY\")\n\nresult = exa.answer(\"<query>\")"
          }
        ]
      }
    },
    "/findSimilar": {
      "post": {
        "operationId": "findSimilar",
        "summary": "Find similar links",
        "description": "Find links similar to the provided URL and optionally retrieve their contents. Deprecated: prefer `/search` with a query describing the source.",
        "x-exa-lifecycle": "deprecated",
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindSimilarRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "Deprecation": {
                "description": "Signals that this operation is deprecated.",
                "schema": {
                  "type": "string"
                }
              },
              "x-exa-queued": {
                "$ref": "#/components/headers/XExaQueued"
              },
              "x-exa-queue-ms": {
                "$ref": "#/components/headers/XExaQueueMs"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindSimilarResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredResponse"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableResponse"
          }
        }
      }
    },
    "/monitors": {
      "post": {
        "operationId": "createMonitor",
        "summary": "Create a monitor",
        "description": "Creates a new Monitor to run recurring Exa searches on a schedule.\n\nMonitors automatically execute your search query on a recurring schedule and deliver results to your webhook endpoint with automatic deduplication:\n\n- **Date-based filtering** only fetches content since the last run\n\n- **Semantic deduplication** tracks previous outputs to surface only new developments\n\nThe response includes a `webhookSecret` that is only returned once at creation time. Store it securely for webhook signature verification.",
        "tags": ["Monitors"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSearchMonitorParameters"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created monitor with webhook secret",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSearchMonitorResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "source": "curl -X POST https://api.exa.ai/monitors \\\n  -H \"x-api-key: $EXA_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{ ... }'"
          },
          {
            "lang": "javascript",
            "source": "import Exa from \"exa-js\";\n\nconst exa = new Exa(process.env.EXA_API_KEY);\n\nconst result = await exa.monitors.create({ ... });"
          },
          {
            "lang": "python",
            "source": "from exa_py import Exa\n\nexa = Exa(api_key=\"YOUR_API_KEY\")\n\nresult = exa.monitors.create(...)"
          }
        ]
      },
      "get": {
        "operationId": "listMonitors",
        "summary": "List monitors",
        "description": "Lists all monitors for the authenticated team. Supports filtering by status and cursor-based pagination.",
        "tags": ["Monitors"],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": ["active", "paused", "disabled"],
              "description": "Filter monitors by status"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Number of results per page",
              "default": 50
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string",
              "maxLength": 250,
              "description": "Filter monitors by name (case-insensitive substring match)"
            }
          },
          {
            "in": "query",
            "name": "metadata",
            "schema": {
              "description": "Filter monitors by metadata key-value pairs (exact match, AND semantics). Use bracket notation: `metadata[key]=value`.",
              "type": "object",
              "propertyNames": {
                "type": "string"
              },
              "additionalProperties": {
                "type": "string"
              }
            },
            "style": "deepObject",
            "explode": true,
            "description": "Filter monitors by metadata key-value pairs (exact match, AND semantics). Use bracket notation: `metadata[key]=value`."
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of monitors",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSearchMonitorsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "source": "curl -X GET https://api.exa.ai/monitors \\\n  -H \"x-api-key: $EXA_API_KEY\""
          },
          {
            "lang": "javascript",
            "source": "import Exa from \"exa-js\";\n\nconst exa = new Exa(process.env.EXA_API_KEY);\n\nconst result = await exa.monitors.list();"
          },
          {
            "lang": "python",
            "source": "from exa_py import Exa\n\nexa = Exa(api_key=\"YOUR_API_KEY\")\n\nresult = exa.monitors.list()"
          }
        ]
      }
    },
    "/monitors/batch": {
      "post": {
        "operationId": "batchMonitors",
        "summary": "Batch action on monitors",
        "description": "Perform a batch action on monitors matching the provided filters.\n\nSupported actions:\n- **delete**: Permanently remove matching monitors\n- **pause**: Pause matching monitors\n- **unpause**: Unpause matching monitors\n\nUse `dry_run: true` (the default) to preview which monitors would be affected before performing the action. Results are paginated via the `limit` parameter; loop until `has_more` is `false` to process all matching monitors.",
        "tags": ["Monitors"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchMonitorsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch action result",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchMonitorsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/monitors/{id}": {
      "get": {
        "operationId": "getMonitor",
        "summary": "Get a monitor",
        "description": "Retrieves a single monitor by its ID.",
        "tags": ["Monitors"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The monitor ID"
            },
            "required": true,
            "description": "The monitor ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The monitor",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMonitor"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "source": "curl -X GET https://api.exa.ai/monitors/<id> \\\n  -H \"x-api-key: $EXA_API_KEY\""
          },
          {
            "lang": "javascript",
            "source": "import Exa from \"exa-js\";\n\nconst exa = new Exa(process.env.EXA_API_KEY);\n\nconst result = await exa.monitors.get(\"<id>\");"
          },
          {
            "lang": "python",
            "source": "from exa_py import Exa\n\nexa = Exa(api_key=\"YOUR_API_KEY\")\n\nresult = exa.monitors.get(\"<id>\")"
          }
        ]
      },
      "patch": {
        "operationId": "updateMonitor",
        "summary": "Update a monitor",
        "description": "Updates an existing monitor. All fields are optional. For `search`, you can send a partial object containing only the fields you want to change. Set `trigger` to `null` to remove the schedule.",
        "tags": ["Monitors"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The monitor ID"
            },
            "required": true,
            "description": "The monitor ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSearchMonitorParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated monitor",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMonitor"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "source": "curl -X PATCH https://api.exa.ai/monitors/<id> \\\n  -H \"x-api-key: $EXA_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{ ... }'"
          },
          {
            "lang": "javascript",
            "source": "import Exa from \"exa-js\";\n\nconst exa = new Exa(process.env.EXA_API_KEY);\n\nconst result = await exa.monitors.update(\"<id>\", { ... });"
          },
          {
            "lang": "python",
            "source": "from exa_py import Exa\n\nexa = Exa(api_key=\"YOUR_API_KEY\")\n\nresult = exa.monitors.update(\"<id>\", ...)"
          }
        ]
      },
      "delete": {
        "operationId": "deleteMonitor",
        "summary": "Delete a monitor",
        "description": "Deletes a monitor. This cannot be undone.",
        "tags": ["Monitors"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The monitor ID"
            },
            "required": true,
            "description": "The monitor ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted monitor",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMonitor"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "source": "curl -X DELETE https://api.exa.ai/monitors/<id> \\\n  -H \"x-api-key: $EXA_API_KEY\""
          },
          {
            "lang": "javascript",
            "source": "import Exa from \"exa-js\";\n\nconst exa = new Exa(process.env.EXA_API_KEY);\n\nconst result = await exa.monitors.delete(\"<id>\");"
          },
          {
            "lang": "python",
            "source": "from exa_py import Exa\n\nexa = Exa(api_key=\"YOUR_API_KEY\")\n\nresult = exa.monitors.delete(\"<id>\")"
          }
        ]
      }
    },
    "/monitors/{id}/trigger": {
      "post": {
        "operationId": "triggerMonitor",
        "summary": "Trigger a monitor",
        "description": "Triggers a run immediately, regardless of the schedule. Works for monitors with status `active` or `paused`.",
        "tags": ["Monitors"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The monitor ID"
            },
            "required": true,
            "description": "The monitor ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Whether the monitor was triggered",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerSearchMonitorResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "source": "curl -X POST https://api.exa.ai/monitors/<id>/trigger \\\n  -H \"x-api-key: $EXA_API_KEY\""
          },
          {
            "lang": "javascript",
            "source": "import Exa from \"exa-js\";\n\nconst exa = new Exa(process.env.EXA_API_KEY);\n\nconst result = await exa.monitors.trigger(\"<id>\");"
          },
          {
            "lang": "python",
            "source": "from exa_py import Exa\n\nexa = Exa(api_key=\"YOUR_API_KEY\")\n\nresult = exa.monitors.trigger(\"<id>\")"
          }
        ]
      }
    },
    "/monitors/{id}/runs": {
      "get": {
        "operationId": "listRuns",
        "summary": "List runs",
        "description": "Lists all runs for a monitor with cursor-based pagination. Runs are returned in reverse chronological order.",
        "tags": ["Runs"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The monitor ID"
            },
            "required": true,
            "description": "The monitor ID"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Number of results per page",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of runs",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSearchMonitorRunsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "source": "curl -X GET https://api.exa.ai/monitors/<id>/runs \\\n  -H \"x-api-key: $EXA_API_KEY\""
          },
          {
            "lang": "javascript",
            "source": "import Exa from \"exa-js\";\n\nconst exa = new Exa(process.env.EXA_API_KEY);\n\nconst result = await exa.monitors.runs.list(\"<id>\");"
          },
          {
            "lang": "python",
            "source": "from exa_py import Exa\n\nexa = Exa(api_key=\"YOUR_API_KEY\")\n\nresult = exa.monitors.runs.list(\"<id>\")"
          }
        ]
      }
    },
    "/monitors/{id}/runs/{runId}": {
      "get": {
        "operationId": "getRun",
        "summary": "Get a run",
        "description": "Retrieves a single run by its ID, including the full output if the run is completed.",
        "tags": ["Runs"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The monitor ID"
            },
            "required": true,
            "description": "The monitor ID"
          },
          {
            "in": "path",
            "name": "runId",
            "schema": {
              "type": "string",
              "description": "The run ID"
            },
            "required": true,
            "description": "The run ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The run",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMonitorRun"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "source": "curl -X GET https://api.exa.ai/monitors/<id>/runs/<runId> \\\n  -H \"x-api-key: $EXA_API_KEY\""
          },
          {
            "lang": "javascript",
            "source": "import Exa from \"exa-js\";\n\nconst exa = new Exa(process.env.EXA_API_KEY);\n\nconst result = await exa.monitors.runs.get(\"<id>\", \"<runId>\");"
          },
          {
            "lang": "python",
            "source": "from exa_py import Exa\n\nexa = Exa(api_key=\"YOUR_API_KEY\")\n\nresult = exa.monitors.runs.get(\"<id>\", \"<run_id>\")"
          }
        ]
      }
    },
    "/agent/runs": {
      "post": {
        "operationId": "createAgentRun",
        "summary": "Create a run",
        "description": "Create an asynchronous Agent run. By default, the API returns the run object immediately. Set `Accept: text/event-stream` to stream run lifecycle events until the run reaches a terminal status.",
        "tags": ["Agent"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/ExaBetaHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent run created",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRun"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRunEvent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Agent run concurrency limit reached.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "source": "curl -X POST https://api.exa.ai/agent/runs \\\n  -H \"x-api-key: $EXA_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{ ... }'"
          },
          {
            "lang": "javascript",
            "source": "import Exa from \"exa-js\";\n\nconst exa = new Exa(process.env.EXA_API_KEY);\n\nconst result = await exa.agent.runs.create({ ... });"
          },
          {
            "lang": "python",
            "source": "from exa_py import Exa\n\nexa = Exa(api_key=\"YOUR_API_KEY\")\n\nresult = exa.agent.runs.create(...)"
          }
        ]
      },
      "get": {
        "operationId": "listAgentRuns",
        "summary": "List runs",
        "description": "List Agent runs for your team, ordered from newest to oldest.",
        "tags": ["Agent"],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Number of results per page",
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "Cursor for pagination. Use the `nextCursor` value from the previous run list response.",
              "$ref": "#/components/schemas/AgentRunId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated Agent runs",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRunList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "source": "curl -X GET https://api.exa.ai/agent/runs \\\n  -H \"x-api-key: $EXA_API_KEY\""
          },
          {
            "lang": "javascript",
            "source": "import Exa from \"exa-js\";\n\nconst exa = new Exa(process.env.EXA_API_KEY);\n\nconst result = await exa.agent.runs.list();"
          },
          {
            "lang": "python",
            "source": "from exa_py import Exa\n\nexa = Exa(api_key=\"YOUR_API_KEY\")\n\nresult = exa.agent.runs.list()"
          }
        ]
      }
    },
    "/agent/runs/{id}": {
      "get": {
        "operationId": "getAgentRun",
        "summary": "Get a run",
        "description": "Retrieve a single Agent run by ID.",
        "tags": ["Agent"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "description": "Agent run ID.",
              "$ref": "#/components/schemas/AgentRunId"
            },
            "required": true,
            "description": "Agent run ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Agent run",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRun"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Agent run concurrency limit reached.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "source": "curl -X GET https://api.exa.ai/agent/runs/<id> \\\n  -H \"x-api-key: $EXA_API_KEY\""
          },
          {
            "lang": "javascript",
            "source": "import Exa from \"exa-js\";\n\nconst exa = new Exa(process.env.EXA_API_KEY);\n\nconst result = await exa.agent.runs.get(\"<id>\");"
          },
          {
            "lang": "python",
            "source": "from exa_py import Exa\n\nexa = Exa(api_key=\"YOUR_API_KEY\")\n\nresult = exa.agent.runs.get(\"<id>\")"
          }
        ]
      },
      "delete": {
        "operationId": "deleteAgentRun",
        "summary": "Delete a run",
        "description": "Delete a stored Agent run.",
        "tags": ["Agent"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "description": "Agent run ID.",
              "$ref": "#/components/schemas/AgentRunId"
            },
            "required": true,
            "description": "Agent run ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Agent run deleted",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAgentRunResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Agent run concurrency limit reached.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "source": "curl -X DELETE https://api.exa.ai/agent/runs/<id> \\\n  -H \"x-api-key: $EXA_API_KEY\""
          },
          {
            "lang": "javascript",
            "source": "import Exa from \"exa-js\";\n\nconst exa = new Exa(process.env.EXA_API_KEY);\n\nconst result = await exa.agent.runs.delete(\"<id>\");"
          },
          {
            "lang": "python",
            "source": "from exa_py import Exa\n\nexa = Exa(api_key=\"YOUR_API_KEY\")\n\nresult = exa.agent.runs.delete(\"<id>\")"
          }
        ]
      }
    },
    "/agent/runs/{id}/cancel": {
      "post": {
        "operationId": "cancelAgentRun",
        "summary": "Cancel a run",
        "description": "Cancel a queued or running Agent run immediately without returning any results. You are billed for usage accrued before cancellation. If the run has already reached a terminal status, the API returns the existing run.",
        "tags": ["Agent"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "description": "Agent run ID.",
              "$ref": "#/components/schemas/AgentRunId"
            },
            "required": true,
            "description": "Agent run ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Agent run",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRun"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Agent run concurrency limit reached.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "source": "curl -X POST https://api.exa.ai/agent/runs/<id>/cancel \\\n  -H \"x-api-key: $EXA_API_KEY\""
          },
          {
            "lang": "javascript",
            "source": "import Exa from \"exa-js\";\n\nconst exa = new Exa(process.env.EXA_API_KEY);\n\nconst result = await exa.agent.runs.cancel(\"<id>\");"
          },
          {
            "lang": "python",
            "source": "from exa_py import Exa\n\nexa = Exa(api_key=\"YOUR_API_KEY\")\n\nresult = exa.agent.runs.cancel(\"<id>\")"
          }
        ]
      }
    },
    "/agent/runs/{id}/stop": {
      "post": {
        "operationId": "stopAgentRun",
        "summary": "Stop a run",
        "description": "Complete a running Agent run early, returning the results gathered so far. You are billed for usage accrued before the stop. Currently supported only for `ultra` effort runs. If the run has already reached a terminal status, the API returns the existing run.",
        "tags": ["Agent"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "description": "Agent run ID.",
              "$ref": "#/components/schemas/AgentRunId"
            },
            "required": true,
            "description": "Agent run ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Agent run",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRun"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Agent run concurrency limit reached.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "source": "curl -X POST https://api.exa.ai/agent/runs/<id>/stop \\\n  -H \"x-api-key: $EXA_API_KEY\""
          },
          {
            "lang": "javascript",
            "source": "import Exa from \"exa-js\";\n\nconst exa = new Exa(process.env.EXA_API_KEY);\n\nconst result = await exa.beta.agent.runs.stop(\"<id>\");"
          },
          {
            "lang": "python",
            "source": "from exa_py import Exa\n\nexa = Exa(api_key=\"YOUR_API_KEY\")\n\nresult = exa.beta.agent.runs.stop(\"<id>\")"
          }
        ]
      }
    },
    "/agent/runs/{id}/events": {
      "get": {
        "operationId": "listAgentRunEvents",
        "summary": "List run events",
        "description": "List stored events for an Agent run. Set `Accept: text/event-stream` to replay stored events as server-sent events. Use `cursor` for JSON pagination or `Last-Event-ID` for SSE replay.",
        "tags": ["Agent"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "description": "Agent run ID.",
              "$ref": "#/components/schemas/AgentRunId"
            },
            "required": true,
            "description": "Agent run ID."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Number of results per page",
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "description": "Cursor for pagination. Use the `nextCursor` value from the previous event list response."
            }
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/LastEventId"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent run events",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRunEventList"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRunEvent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Agent run concurrency limit reached.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "source": "curl -X GET https://api.exa.ai/agent/runs/<id>/events \\\n  -H \"x-api-key: $EXA_API_KEY\""
          },
          {
            "lang": "javascript",
            "source": "import Exa from \"exa-js\";\n\nconst exa = new Exa(process.env.EXA_API_KEY);\n\nconst result = await exa.agent.runs.events.list(\"<id>\");"
          },
          {
            "lang": "python",
            "source": "from exa_py import Exa\n\nexa = Exa(api_key=\"YOUR_API_KEY\")\n\nresult = exa.agent.runs.events.list(\"<id>\")"
          }
        ]
      }
    },
    "/batches": {
      "post": {
        "operationId": "createBatch",
        "summary": "Create a batch",
        "description": "Create a batch of requests to run asynchronously. Each request is dispatched to its target route and results are made available for download when the batch completes.",
        "tags": ["Batches"],
        "x-exa-lifecycle": "beta",
        "x-exa-beta-flag": "batches-2026-06-06",
        "parameters": [
          {
            "$ref": "#/components/parameters/BatchesBetaHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      },
      "get": {
        "operationId": "listBatches",
        "summary": "List batches",
        "description": "List batches for your team, ordered from newest to oldest.",
        "tags": ["Batches"],
        "x-exa-lifecycle": "beta",
        "x-exa-beta-flag": "batches-2026-06-06",
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Maximum number of batches to return per page. Defaults to 100 when omitted; there is no upper bound.",
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "const": "completed",
              "description": "Filter the listing to completed batches. `completed` is the only supported value; any other value returns a 400. Completed listings are ordered by expiry and use a distinct cursor, so keep sending `status=completed` on every cursor-paginated request."
            }
          },
          {
            "$ref": "#/components/parameters/BatchesBetaHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/batches/{id}": {
      "get": {
        "operationId": "getBatch",
        "summary": "Get a batch",
        "description": "Retrieve a single batch by ID.",
        "tags": ["Batches"],
        "x-exa-lifecycle": "beta",
        "x-exa-beta-flag": "batches-2026-06-06",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Batch ID."
            },
            "required": true,
            "description": "Batch ID."
          },
          {
            "$ref": "#/components/parameters/BatchesBetaHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      },
      "delete": {
        "operationId": "deleteBatch",
        "summary": "Delete a batch",
        "description": "Soft-delete a batch in a terminal status.",
        "tags": ["Batches"],
        "x-exa-lifecycle": "beta",
        "x-exa-beta-flag": "batches-2026-06-06",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Batch ID."
            },
            "required": true,
            "description": "Batch ID."
          },
          {
            "$ref": "#/components/parameters/BatchesBetaHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "409": {
            "$ref": "#/components/responses/ConflictResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/batches/{id}/cancel": {
      "post": {
        "operationId": "cancelBatch",
        "summary": "Cancel a batch",
        "description": "Request cancellation of a batch. The batch stops scheduling new requests and drains in-flight work before settling to `cancelled`. Cancelling a batch that is already `cancelling` or `cancelled` is idempotent and returns the batch unchanged. A batch that has already reached a terminal status (`completed` or `expired`) cannot be cancelled and the request fails with a 409.",
        "tags": ["Batches"],
        "x-exa-lifecycle": "beta",
        "x-exa-beta-flag": "batches-2026-06-06",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Batch ID."
            },
            "required": true,
            "description": "Batch ID."
          },
          {
            "$ref": "#/components/parameters/BatchesBetaHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "409": {
            "$ref": "#/components/responses/ConflictResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/v0/teams/me": {
      "get": {
        "operationId": "teams-me-get",
        "summary": "Get team info",
        "description": "Returns information about the authenticated team, including current concurrency usage and limits.",
        "tags": ["Teams"],
        "responses": {
          "200": {
            "description": "Team information retrieved successfully",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsetsTeamInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v0/websets": {
      "servers": [
        {
          "url": "https://api.exa.ai/websets"
        }
      ],
      "post": {
        "operationId": "websets-create",
        "summary": "Create a Webset",
        "description": "Creates a new Webset with optional search, import, and enrichment configurations. The Webset will automatically begin processing once created.\n\nYou can specify an `externalId` to reference the Webset with your own identifiers for easier integration.",
        "tags": ["Websets"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebsetParameters"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webset created",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webset"
                }
              }
            }
          },
          "409": {
            "description": "Webset with this externalId already exists",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            }
          }
        }
      },
      "get": {
        "operationId": "websets-list",
        "summary": "List all Websets",
        "description": "Returns a list of Websets.\n\nYou can paginate through the results using the `cursor` parameter.\n\nYou can filter results using the `search` parameter to find Websets by ID, external ID, or title.",
        "tags": ["Websets"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "minLength": 1,
              "type": "string"
            },
            "required": false,
            "description": "The cursor to paginate through the results"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 25,
              "minimum": 1,
              "maximum": 100,
              "type": "number"
            },
            "required": false,
            "description": "The number of Websets to return"
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "minLength": 2,
              "maxLength": 50,
              "type": "string"
            },
            "required": false,
            "description": "Search term to filter Websets by ID, external ID, or title"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Websets",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebsetsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v0/websets/{id}": {
      "servers": [
        {
          "url": "https://api.exa.ai/websets"
        }
      ],
      "get": {
        "operationId": "websets-get",
        "summary": "Get a Webset",
        "description": "Returns a Webset by `id` or `externalId`, including its status, searches, imports, enrichments, and monitors.\n\nPass `expand=items` to include up to the first 100 items in the response.",
        "tags": ["Websets"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The id or externalId of the Webset.",
            "required": true
          },
          {
            "in": "query",
            "name": "expand",
            "schema": {
              "items": {
                "enum": ["items"],
                "type": "string"
              },
              "type": "array"
            },
            "required": false,
            "description": "Expand the response with the specified resources"
          }
        ],
        "responses": {
          "200": {
            "description": "Webset",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWebsetResponse"
                }
              }
            }
          },
          "404": {
            "description": "Webset not found",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            }
          }
        }
      },
      "post": {
        "operationId": "websets-update",
        "summary": "Update a Webset",
        "description": "Updates the `title` or `metadata` of a Webset. Searches, imports, and enrichments are managed through their own endpoints.",
        "tags": ["Websets"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The id or externalId of the Webset",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebsetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webset updated",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webset"
                }
              }
            }
          },
          "404": {
            "description": "Webset not found",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "websets-delete",
        "summary": "Delete a Webset",
        "description": "Deletes a Webset.\n\nOnce deleted, the Webset and all its Items will no longer be available.",
        "tags": ["Websets"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The id or externalId of the Webset",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Webset deleted",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webset"
                }
              }
            }
          },
          "404": {
            "description": "Webset not found",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            }
          }
        }
      }
    },
    "/v0/websets/{id}/cancel": {
      "servers": [
        {
          "url": "https://api.exa.ai/websets"
        }
      ],
      "post": {
        "operationId": "websets-cancel",
        "summary": "Cancel a running Webset",
        "description": "Cancels all operations being performed on a Webset.\n\nAny enrichment or search will be stopped and the Webset will be marked as `idle`.",
        "tags": ["Websets"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The id or externalId of the Webset",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Webset canceled",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webset"
                }
              }
            }
          }
        }
      }
    },
    "/v0/websets/{webset}/searches": {
      "servers": [
        {
          "url": "https://api.exa.ai/websets"
        }
      ],
      "post": {
        "operationId": "websets-searches-create",
        "summary": "Create a Search",
        "description": "Creates a new Search for the Webset.\n\nThe default behavior is to reuse the previous Search results and evaluate them against the new criteria.",
        "tags": ["Searches"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "webset",
            "schema": {
              "type": "string"
            },
            "description": "The id of the Webset",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebsetSearchParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webset Search created",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsetSearch"
                }
              }
            }
          }
        }
      }
    },
    "/v0/websets/{webset}/searches/{id}": {
      "servers": [
        {
          "url": "https://api.exa.ai/websets"
        }
      ],
      "get": {
        "operationId": "websets-searches-get",
        "summary": "Get a Search",
        "description": "Gets a Search by id",
        "tags": ["Searches"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "webset",
            "schema": {
              "type": "string"
            },
            "description": "The id of the Webset",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The id of the Search",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Search retrieved",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsetSearch"
                }
              }
            }
          }
        }
      }
    },
    "/v0/websets/{webset}/searches/{id}/cancel": {
      "servers": [
        {
          "url": "https://api.exa.ai/websets"
        }
      ],
      "post": {
        "operationId": "websets-searches-cancel",
        "summary": "Cancel a running Search",
        "description": "Cancels a currently running Search.\n\nYou can cancel all searches at once by using the `websets/:webset/cancel` endpoint.",
        "tags": ["Searches"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "webset",
            "schema": {
              "type": "string"
            },
            "description": "The id of the Webset",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The id of the Search",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Search canceled",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsetSearch"
                }
              }
            }
          }
        }
      }
    },
    "/v0/websets/{webset}/enrichments": {
      "servers": [
        {
          "url": "https://api.exa.ai/websets"
        }
      ],
      "post": {
        "operationId": "websets-enrichments-create",
        "summary": "Create an Enrichment",
        "description": "Create an Enrichment for a Webset.",
        "tags": ["Enrichments"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "webset",
            "schema": {
              "type": "string"
            },
            "description": "The id or externalId of the Webset",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnrichmentParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enrichment created",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsetEnrichment"
                }
              }
            }
          }
        }
      }
    },
    "/v0/websets/{webset}/enrichments/{id}": {
      "servers": [
        {
          "url": "https://api.exa.ai/websets"
        }
      ],
      "patch": {
        "operationId": "websets-enrichments-update",
        "summary": "Update an Enrichment",
        "description": "Update an Enrichment configuration for a Webset.",
        "tags": ["Enrichments"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "webset",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnrichmentParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            }
          }
        }
      },
      "get": {
        "operationId": "websets-enrichments-get",
        "summary": "Get an Enrichment",
        "description": "Returns an Enrichment configured on a Webset, including its status, description, format, and options.",
        "tags": ["Enrichments"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "webset",
            "schema": {
              "type": "string"
            },
            "description": "The id or externalId of the Webset",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The id of the Enrichment",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Enrichment",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsetEnrichment"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "websets-enrichments-delete",
        "summary": "Delete an Enrichment",
        "description": "When deleting an Enrichment, any running enrichments will be canceled and all existing `enrichment_result` generated by this Enrichment will no longer be available.",
        "tags": ["Enrichments"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "webset",
            "schema": {
              "type": "string"
            },
            "description": "The id or externalId of the Webset",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The id of the Enrichment",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Enrichment deleted",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsetEnrichment"
                }
              }
            }
          }
        }
      }
    },
    "/v0/websets/{webset}/enrichments/{id}/cancel": {
      "servers": [
        {
          "url": "https://api.exa.ai/websets"
        }
      ],
      "post": {
        "operationId": "websets-enrichments-cancel",
        "summary": "Cancel a running Enrichment",
        "description": "All running enrichments will be canceled. You can not resume an Enrichment after it has been canceled.",
        "tags": ["Enrichments"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "webset",
            "schema": {
              "type": "string"
            },
            "description": "The id or externalId of the Webset",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The id of the Enrichment",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Enrichment cancelled",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsetEnrichment"
                }
              }
            }
          }
        }
      }
    },
    "/v0/websets/{webset}/items/{id}": {
      "servers": [
        {
          "url": "https://api.exa.ai/websets"
        }
      ],
      "get": {
        "operationId": "websets-items-get",
        "summary": "Get an Item",
        "description": "Returns a Webset Item.",
        "tags": ["Items"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "webset",
            "schema": {
              "type": "string"
            },
            "description": "The id or externalId of the Webset",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The id of the Webset item",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Webset Item",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsetItem"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "websets-items-delete",
        "summary": "Delete an Item",
        "description": "Deletes an Item from the Webset.\n\nThis will cancel any enrichment process for it.",
        "tags": ["Items"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "webset",
            "schema": {
              "type": "string"
            },
            "description": "The id or externalId of the Webset",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The id of the Webset item",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Webset Item deleted",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsetItem"
                }
              }
            }
          }
        }
      }
    },
    "/v0/websets/{webset}/items": {
      "servers": [
        {
          "url": "https://api.exa.ai/websets"
        }
      ],
      "get": {
        "operationId": "websets-items-list",
        "summary": "List all Items for a Webset",
        "description": "Returns a list of Webset Items.\n\nYou can paginate through the Items using the `cursor` parameter.",
        "tags": ["Items"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "webset",
            "schema": {
              "type": "string"
            },
            "description": "The id or externalId of the Webset",
            "required": true
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "minLength": 1,
              "type": "string"
            },
            "required": false,
            "description": "The cursor to paginate through the results"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 20,
              "minimum": 1,
              "maximum": 100,
              "type": "integer"
            },
            "required": false,
            "description": "The number of results to return"
          },
          {
            "in": "query",
            "name": "sourceId",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "The id of the source"
          }
        ],
        "responses": {
          "200": {
            "description": "Webset Items",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebsetItemResponse"
                }
              }
            }
[...]
