{
  "openapi": "3.1.0",
  "info": {
    "title": "Exa Public API",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.exa.ai"
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "bearer": []
    }
  ],
  "paths": {
    "/search": {
      "post": {
        "operationId": "search",
        "summary": "Search",
        "description": "Perform a search with an Exa prompt-engineered query and retrieve a list of relevant results. Optionally get contents.",
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.007",
            "max": "0.015"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "USDC.e"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "x-exa-queued": {
                "$ref": "#/components/headers/XExaQueued"
              },
              "x-exa-queue-ms": {
                "$ref": "#/components/headers/XExaQueueMs"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "requestId": "b5947044c4b78efa9552a7c89b306d95",
                  "results": [
                    {
                      "title": "A Comprehensive Overview of Large Language Models",
                      "url": "https://arxiv.org/pdf/2307.06435.pdf",
                      "publishedDate": "2023-11-16T01:36:32.547Z",
                      "author": "Humza  Naveed, University of Engineering and Technology (UET), Lahore, Pakistan",
                      "id": "https://arxiv.org/abs/2307.06435",
                      "image": "https://arxiv.org/pdf/2307.06435.pdf/page_1.png",
                      "favicon": "https://arxiv.org/favicon.ico",
                      "text": "Abstract Large Language Models (LLMs) have recently demonstrated remarkable capabilities...",
                      "highlights": ["Such requirements have limited their adoption..."],
                      "summary": "This overview paper on Large Language Models (LLMs) highlights key developments..."
                    }
                  ],
                  "resolvedSearchType": "neural",
                  "costDollars": {
                    "total": 0.007,
                    "search": {
                      "neural": 0.007
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/SearchStreamChunk"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "402": {
            "description": "Payment required. For API-key requests this is the standard error envelope (out of credits or a budget exceeded). On x402-priced endpoints, requests without an API key instead receive an x402 payment challenge with tag `X402_PAYMENT_REQUIRED`: the envelope extended with x402 payment metadata (`x402Version`, `resource`, `accepts`, and optional `extensions`) describing how to pay for the request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/X402PaymentChallenge"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/contents": {
      "post": {
        "operationId": "getContents",
        "summary": "Contents",
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.001",
            "max": "0.010"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "USDC.e"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "x-exa-queued": {
                "$ref": "#/components/headers/XExaQueued"
              },
              "x-exa-queue-ms": {
                "$ref": "#/components/headers/XExaQueueMs"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "requestId": "e492118ccdedcba5088bfc4357a8a125",
                  "results": [
                    {
                      "id": "https://arxiv.org/abs/2307.06435",
                      "title": "A Comprehensive Overview of Large Language Models",
                      "url": "https://arxiv.org/pdf/2307.06435.pdf",
                      "publishedDate": "2023-11-16T01:36:32.547Z",
                      "author": "Humza  Naveed, University of Engineering and Technology (UET), Lahore, Pakistan",
                      "text": "Abstract Large Language Models (LLMs) have recently demonstrated remarkable capabilities...",
                      "highlights": ["Such requirements have limited their adoption..."],
                      "summary": "This overview paper on Large Language Models (LLMs) highlights key developments..."
                    }
                  ],
                  "statuses": [
                    {
                      "id": "https://arxiv.org/abs/2307.06435",
                      "status": "success",
                      "source": "cached"
                    }
                  ],
                  "costDollars": {
                    "total": 0.003
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ContentsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "402": {
            "description": "Payment required. For API-key requests this is the standard error envelope (out of credits or a budget exceeded). On x402-priced endpoints, requests without an API key instead receive an x402 payment challenge with tag `X402_PAYMENT_REQUIRED`: the envelope extended with x402 payment metadata (`x402Version`, `resource`, `accepts`, and optional `extensions`) describing how to pay for the request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/X402PaymentChallenge"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/answer": {
      "post": {
        "operationId": "answer",
        "summary": "Answer",
        "description": "Performs a search based on the query and generates either a direct answer or a detailed summary with citations, depending on the query type.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnswerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "x-exa-queued": {
                "$ref": "#/components/headers/XExaQueued"
              },
              "x-exa-queue-ms": {
                "$ref": "#/components/headers/XExaQueueMs"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6",
                  "answer": "$350 billion.",
                  "citations": [
                    {
                      "id": "https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees",
                      "url": "https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees",
                      "title": "SpaceX valued at $350bn as company agrees to buy shares from ...",
                      "author": "Dan Milmo",
                      "publishedDate": "2024-12-11T00:00:00.000Z",
                      "text": "SpaceX valued at $350bn as company agrees to buy shares from ..."
                    }
                  ],
                  "costDollars": {
                    "total": 0.005
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/AnswerResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AnswerStreamChunk"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredResponse"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/findSimilar": {
      "post": {
        "operationId": "findSimilar",
        "summary": "Find similar links",
        "description": "Find links similar to the provided URL and optionally retrieve their contents. Deprecated: prefer `/search` with a query describing the source.",
        "x-exa-lifecycle": "deprecated",
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindSimilarRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "Deprecation": {
                "description": "Signals that this operation is deprecated.",
                "schema": {
                  "type": "string"
                },
                "example": "true"
              },
              "x-exa-queued": {
                "$ref": "#/components/headers/XExaQueued"
              },
              "x-exa-queue-ms": {
                "$ref": "#/components/headers/XExaQueueMs"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindSimilarResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredResponse"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/monitors": {
      "post": {
        "operationId": "createMonitor",
        "summary": "Create a Monitor",
        "description": "Creates a new Monitor to run recurring Exa searches on a schedule.\n\nMonitors automatically execute your search query on a recurring schedule and deliver results to your webhook endpoint with automatic deduplication:\n\n- **Date-based filtering** only fetches content since the last run\n\n- **Semantic deduplication** tracks previous outputs to surface only new developments\n\nThe response includes a `webhookSecret` that is only returned once at creation time. Store it securely for webhook signature verification.",
        "tags": ["Monitors"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSearchMonitorParameters"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created monitor with webhook secret",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSearchMonitorResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      },
      "get": {
        "operationId": "listMonitors",
        "summary": "List Monitors",
        "description": "Lists all monitors for the authenticated team. Supports filtering by status and cursor-based pagination.",
        "tags": ["Monitors"],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": ["active", "paused", "disabled"],
              "description": "Filter monitors by status"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Number of results per page",
              "default": 50
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string",
              "maxLength": 250,
              "description": "Filter monitors by name (case-insensitive substring match)"
            }
          },
          {
            "in": "query",
            "name": "metadata",
            "schema": {
              "description": "Filter monitors by metadata key-value pairs (exact match, AND semantics). Use bracket notation: `metadata[key]=value`.",
              "type": "object",
              "propertyNames": {
                "type": "string"
              },
              "additionalProperties": {
                "type": "string"
              }
            },
            "style": "deepObject",
            "explode": true,
            "description": "Filter monitors by metadata key-value pairs (exact match, AND semantics). Use bracket notation: `metadata[key]=value`."
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of monitors",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSearchMonitorsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/monitors/batch": {
      "post": {
        "operationId": "batchMonitors",
        "summary": "Batch Action on Monitors",
        "description": "Perform a batch action on monitors matching the provided filters.\n\nSupported actions:\n- **delete**: Permanently remove matching monitors\n- **pause**: Pause matching monitors\n- **unpause**: Unpause matching monitors\n\nUse `dry_run: true` (the default) to preview which monitors would be affected before performing the action. Results are paginated via the `limit` parameter; loop until `has_more` is `false` to process all matching monitors.",
        "tags": ["Monitors"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchMonitorsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch action result",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchMonitorsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/monitors/{id}": {
      "get": {
        "operationId": "getMonitor",
        "summary": "Get a Monitor",
        "description": "Retrieves a single monitor by its ID.",
        "tags": ["Monitors"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The monitor ID"
            },
            "required": true,
            "description": "The monitor ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The monitor",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMonitor"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      },
      "patch": {
        "operationId": "updateMonitor",
        "summary": "Update a Monitor",
        "description": "Updates an existing monitor. All fields are optional. For `search`, you can send a partial object containing only the fields you want to change. Set `trigger` to `null` to remove the schedule.",
        "tags": ["Monitors"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The monitor ID"
            },
            "required": true,
            "description": "The monitor ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSearchMonitorParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated monitor",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMonitor"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      },
      "delete": {
        "operationId": "deleteMonitor",
        "summary": "Delete a Monitor",
        "description": "Deletes a monitor. This cannot be undone.",
        "tags": ["Monitors"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The monitor ID"
            },
            "required": true,
            "description": "The monitor ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted monitor",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMonitor"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/monitors/{id}/trigger": {
      "post": {
        "operationId": "triggerMonitor",
        "summary": "Trigger a Monitor",
        "description": "Triggers a run immediately, regardless of the schedule. Works for monitors with status `active` or `paused`.",
        "tags": ["Monitors"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The monitor ID"
            },
            "required": true,
            "description": "The monitor ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Whether the monitor was triggered",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerSearchMonitorResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/monitors/{id}/runs": {
      "get": {
        "operationId": "listRuns",
        "summary": "List Runs",
        "description": "Lists all runs for a monitor with cursor-based pagination. Runs are returned in reverse chronological order.",
        "tags": ["Runs"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The monitor ID"
            },
            "required": true,
            "description": "The monitor ID"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Number of results per page",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of runs",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSearchMonitorRunsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/monitors/{id}/runs/{runId}": {
      "get": {
        "operationId": "getRun",
        "summary": "Get a Run",
        "description": "Retrieves a single run by its ID, including the full output if the run is completed.",
        "tags": ["Runs"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The monitor ID"
            },
            "required": true,
            "description": "The monitor ID"
          },
          {
            "in": "path",
            "name": "runId",
            "schema": {
              "type": "string",
              "description": "The run ID"
            },
            "required": true,
            "description": "The run ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The run",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMonitorRun"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/agent/runs": {
      "post": {
        "operationId": "createAgentRun",
        "summary": "Create a run",
        "description": "Create an asynchronous Agent run. By default, the API returns the run object immediately. Set `Accept: text/event-stream` to stream run lifecycle events until the run reaches a terminal status.",
        "tags": ["Agent"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/ExaBetaHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRunRequest"
              },
              "examples": {
                "simple": {
                  "summary": "Simple research run",
                  "value": {
                    "query": "What are the most important AI infrastructure funding rounds announced this week?"
                  }
                },
                "structuredOutput": {
                  "summary": "Structured output",
                  "value": {
                    "query": "Find recent Series A or Series B AI infrastructure funding rounds.",
                    "outputSchema": {
                      "type": "object",
                      "required": ["companies"],
                      "properties": {
                        "companies": {
                          "type": "array",
                          "maxItems": 10,
                          "items": {
                            "type": "object",
                            "required": ["name", "round", "amount", "sourceUrl"],
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "round": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "string"
                              },
                              "sourceUrl": {
                                "type": "string",
                                "format": "uri"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "inputRows": {
                  "summary": "Process input rows",
                  "value": {
                    "query": "For each company, find one current executive and cite a source.",
                    "input": {
                      "data": [
                        {
                          "company": "Apple",
                          "domain": "apple.com"
                        },
                        {
                          "company": "Microsoft",
                          "domain": "microsoft.com"
                        }
                      ],
                      "exclusion": [
                        {
                          "company": "Apple",
                          "person": "Tim Cook"
                        }
                      ]
                    }
                  }
                },
                "contactFields": {
                  "summary": "Contact fields in structured output",
                  "value": {
                    "query": "Find engineering leaders at AI infrastructure companies that raised a Series A or B in the last 6 months.",
                    "effort": "auto",
                    "outputSchema": {
                      "type": "object",
                      "required": ["people"],
                      "properties": {
                        "people": {
                          "type": "array",
                          "maxItems": 10,
                          "items": {
                            "type": "object",
                            "required": ["name", "linkedin_url"],
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "contact_email": {
                                "type": "string",
                                "format": "email"
                              },
                              "linkedin_url": {
                                "type": "string",
                                "format": "uri"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "dataSources": {
                  "summary": "Connect data sources",
                  "value": {
                    "query": "Find 10 fast-growing B2B SaaS companies and their estimated web traffic.",
                    "dataSources": [
                      {
                        "provider": "similarweb"
                      }
                    ],
                    "outputSchema": {
                      "type": "object",
                      "required": ["companies"],
                      "properties": {
                        "companies": {
                          "type": "array",
                          "maxItems": 10,
                          "items": {
                            "type": "object",
                            "required": ["name", "domain", "monthlyVisits"],
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "domain": {
                                "type": "string"
                              },
                              "monthlyVisits": {
                                "type": "number",
                                "description": "from Similarweb"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent run created",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRun"
                },
                "examples": {
                  "running": {
                    "summary": "Run accepted",
                    "value": {
                      "id": "agent_run_01j7x9v0m2n4p6q8r0s2t4v6w8",
                      "object": "agent_run",
                      "status": "running",
                      "stopReason": null,
                      "createdAt": "2026-05-07T18:31:00.000Z",
                      "completedAt": null,
                      "request": {
                        "query": "What are the most important AI infrastructure funding rounds announced this week?"
                      },
                      "output": {
                        "text": "",
                        "structured": null,
                        "grounding": []
                      },
                      "usage": {
                        "agentComputeUnits": 0,
                        "searches": 0,
                        "emails": 0,
                        "phoneNumbers": 0
                      },
                      "costDollars": {
                        "total": 0,
                        "agentCompute": 0,
                        "search": 0,
                        "emails": 0,
                        "phoneNumbers": 0
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRunEvent"
                },
                "examples": {
                  "lifecycle": {
                    "summary": "Run lifecycle events",
                    "value": "id: 1\nevent: agent_run.created\ndata: {\"id\":\"agent_run_01j...\",\"status\":\"queued\",\"createdAt\":\"2026-05-07T21:21:52.051Z\"}\n\nid: 2\nevent: agent_run.started\ndata: {\"id\":\"agent_run_01j...\",\"status\":\"running\"}\n\nid: 3\nevent: agent_run.completed\ndata: {\"id\":\"agent_run_01j...\",\"object\":\"agent_run\",\"status\":\"completed\"}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Agent run concurrency limit reached.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listAgentRuns",
        "summary": "List runs",
        "description": "List Agent runs for your team, ordered from newest to oldest.",
        "tags": ["Agent"],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Number of results per page",
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "Cursor for pagination. Use the `nextCursor` value from the previous run list response.",
              "$ref": "#/components/schemas/AgentRunId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated Agent runs",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRunList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agent/runs/{id}": {
      "get": {
        "operationId": "getAgentRun",
        "summary": "Get a run",
        "description": "Retrieve a single Agent run by ID.",
        "tags": ["Agent"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "description": "Agent run ID.",
              "$ref": "#/components/schemas/AgentRunId"
            },
            "required": true,
            "description": "Agent run ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Agent run",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRun"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Agent run concurrency limit reached.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAgentRun",
        "summary": "Delete a run",
        "description": "Delete a stored Agent run.",
        "tags": ["Agent"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "description": "Agent run ID.",
              "$ref": "#/components/schemas/AgentRunId"
            },
            "required": true,
            "description": "Agent run ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Agent run deleted",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAgentRunResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Agent run concurrency limit reached.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agent/runs/{id}/cancel": {
      "post": {
        "operationId": "cancelAgentRun",
        "summary": "Cancel a run",
        "description": "Cancel a queued or running Agent run immediately without returning any results. You are billed for usage accrued before cancellation. If the run has already reached a terminal status, the API returns the existing run.",
        "tags": ["Agent"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "description": "Agent run ID.",
              "$ref": "#/components/schemas/AgentRunId"
            },
            "required": true,
            "description": "Agent run ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Agent run",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRun"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Agent run concurrency limit reached.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agent/runs/{id}/stop": {
      "post": {
        "operationId": "stopAgentRun",
        "summary": "Stop a run",
        "description": "Complete a running Agent run early, returning the results gathered so far. You are billed for usage accrued before the stop. Currently supported only for `max` effort runs and requires the `Exa-Beta: agent-max-effort-2026-07-27` header. If the run has already reached a terminal status, the API returns the existing run.",
        "tags": ["Agent"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "description": "Agent run ID.",
              "$ref": "#/components/schemas/AgentRunId"
            },
            "required": true,
            "description": "Agent run ID."
          },
          {
            "$ref": "#/components/parameters/ExaBetaHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent run",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRun"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Agent run concurrency limit reached.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agent/runs/{id}/events": {
      "get": {
        "operationId": "listAgentRunEvents",
        "summary": "List run events",
        "description": "List stored events for an Agent run. Set `Accept: text/event-stream` to replay stored events as server-sent events. Use `cursor` for JSON pagination or `Last-Event-ID` for SSE replay.",
        "tags": ["Agent"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "description": "Agent run ID.",
              "$ref": "#/components/schemas/AgentRunId"
            },
            "required": true,
            "description": "Agent run ID."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Number of results per page",
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "description": "Cursor for pagination. Use the `nextCursor` value from the previous event list response."
            }
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/LastEventId"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent run events",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRunEventList"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRunEvent"
                },
                "examples": {
                  "replay": {
                    "summary": "Replayed run events",
                    "value": "id: 2\nevent: agent_run.started\ndata: {\"id\":\"agent_run_01j...\",\"status\":\"running\"}\n\nid: 3\nevent: agent_run.completed\ndata: {\"id\":\"agent_run_01j...\",\"object\":\"agent_run\",\"status\":\"completed\"}\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Team context or authentication was not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Agent run concurrency limit reached.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error or run timeout.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/batches": {
      "post": {
        "operationId": "createBatch",
        "summary": "Create a batch",
        "description": "Create a batch of requests to run asynchronously. Each request is dispatched to its target route and results are made available for download when the batch completes.",
        "tags": ["Batches"],
        "x-exa-lifecycle": "beta",
        "x-exa-beta-flag": "batches-2026-06-06",
        "parameters": [
          {
            "$ref": "#/components/parameters/BatchesBetaHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBatchRequest"
              },
              "examples": {
                "searchBatch": {
                  "summary": "Batch of search and agent-run requests",
                  "value": {
                    "requests": [
                      {
                        "customId": "row-1",
                        "method": "POST",
                        "url": "/search",
                        "body": {
                          "query": "Latest AI infrastructure funding rounds"
                        }
                      },
                      {
                        "customId": "row-2",
                        "method": "POST",
                        "url": "/agent/runs",
                        "body": {
                          "query": "Summarize this week's vector database launches"
                        }
                      }
                    ],
                    "metadata": {
                      "project": "weekly-digest"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "id": "batch_01j7x9v0m2n4p6q8r0s2t4v6w8",
                  "object": "batch",
                  "status": "in_progress",
                  "requestCounts": {
                    "total": 2,
                    "completed": 0,
                    "failed": 0
                  },
                  "createdAt": "2026-06-06T12:00:00.000Z",
                  "expiresAt": "2026-06-13T12:00:00.000Z",
                  "endedAt": null,
                  "resultsUrl": null,
                  "metadata": {
                    "project": "weekly-digest"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      },
      "get": {
        "operationId": "listBatches",
        "summary": "List batches",
        "description": "List batches for your team, ordered from newest to oldest.",
        "tags": ["Batches"],
        "x-exa-lifecycle": "beta",
        "x-exa-beta-flag": "batches-2026-06-06",
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Maximum number of batches to return per page. Defaults to 100 when omitted; there is no upper bound.",
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "const": "completed",
              "description": "Filter the listing to completed batches. `completed` is the only supported value; any other value returns a 400. Completed listings are ordered by expiry and use a distinct cursor, so keep sending `status=completed` on every cursor-paginated request."
            }
          },
          {
            "$ref": "#/components/parameters/BatchesBetaHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "batch_01j7x9v0m2n4p6q8r0s2t4v6w8",
                      "object": "batch",
                      "status": "completed",
                      "requestCounts": {
                        "total": 2,
                        "completed": 2,
                        "failed": 0
                      },
                      "createdAt": "2026-06-06T12:00:00.000Z",
                      "expiresAt": "2026-06-13T12:00:00.000Z",
                      "endedAt": "2026-06-06T12:01:30.000Z",
                      "resultsUrl": "https://exa-batch-results.s3.us-east-1.amazonaws.com/batch_01j7x9v0m2n4p6q8r0s2t4v6w8/results.jsonl?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=EXAMPLESIGNATURE",
                      "metadata": {
                        "project": "weekly-digest"
                      }
                    }
                  ],
                  "hasMore": false,
                  "nextCursor": null
                },
                "schema": {
                  "$ref": "#/components/schemas/BatchList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/batches/{id}": {
      "get": {
        "operationId": "getBatch",
        "summary": "Get a batch",
        "description": "Retrieve a single batch by ID.",
        "tags": ["Batches"],
        "x-exa-lifecycle": "beta",
        "x-exa-beta-flag": "batches-2026-06-06",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Batch ID.",
              "example": "batch_01j7x9v0m2n4p6q8r0s2t4v6w8"
            },
            "required": true,
            "description": "Batch ID."
          },
          {
            "$ref": "#/components/parameters/BatchesBetaHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "id": "batch_01j7x9v0m2n4p6q8r0s2t4v6w8",
                  "object": "batch",
                  "status": "completed",
                  "requestCounts": {
                    "total": 2,
                    "completed": 2,
                    "failed": 0
                  },
                  "createdAt": "2026-06-06T12:00:00.000Z",
                  "expiresAt": "2026-06-13T12:00:00.000Z",
                  "endedAt": "2026-06-06T12:01:30.000Z",
                  "resultsUrl": "https://exa-batch-results.s3.us-east-1.amazonaws.com/batch_01j7x9v0m2n4p6q8r0s2t4v6w8/results.jsonl?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=EXAMPLESIGNATURE",
                  "metadata": {
                    "project": "weekly-digest"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      },
      "delete": {
        "operationId": "deleteBatch",
        "summary": "Delete a batch",
        "description": "Soft-delete a batch in a terminal status.",
        "tags": ["Batches"],
        "x-exa-lifecycle": "beta",
        "x-exa-beta-flag": "batches-2026-06-06",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Batch ID.",
              "example": "batch_01j7x9v0m2n4p6q8r0s2t4v6w8"
            },
            "required": true,
            "description": "Batch ID."
          },
          {
            "$ref": "#/components/parameters/BatchesBetaHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "id": "batch_01j7x9v0m2n4p6q8r0s2t4v6w8",
                  "object": "batch.deleted",
                  "deleted": true
                },
                "schema": {
                  "$ref": "#/components/schemas/DeletedBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "409": {
            "$ref": "#/components/responses/ConflictResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/batches/{id}/cancel": {
      "post": {
        "operationId": "cancelBatch",
        "summary": "Cancel a batch",
        "description": "Request cancellation of a batch. The batch stops scheduling new requests and drains in-flight work before settling to `cancelled`. Cancelling a batch that is already `cancelling` or `cancelled` is idempotent and returns the batch unchanged. A batch that has already reached a terminal status (`completed` or `expired`) cannot be cancelled and the request fails with a 409.",
        "tags": ["Batches"],
        "x-exa-lifecycle": "beta",
        "x-exa-beta-flag": "batches-2026-06-06",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Batch ID.",
              "example": "batch_01j7x9v0m2n4p6q8r0s2t4v6w8"
            },
            "required": true,
            "description": "Batch ID."
          },
          {
            "$ref": "#/components/parameters/BatchesBetaHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "id": "batch_01j7x9v0m2n4p6q8r0s2t4v6w8",
                  "object": "batch",
                  "status": "cancelling",
                  "requestCounts": {
                    "total": 2,
                    "completed": 0,
                    "failed": 0
                  },
                  "createdAt": "2026-06-06T12:00:00.000Z",
                  "expiresAt": "2026-06-13T12:00:00.000Z",
                  "endedAt": null,
                  "resultsUrl": null,
                  "metadata": {
                    "project": "weekly-digest"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "409": {
            "$ref": "#/components/responses/ConflictResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/v0/teams/me": {
      "get": {
        "operationId": "teams-me-get",
        "summary": "Get Team Info",
        "description": "Returns information about the authenticated team, including current concurrency usage and limits.",
        "tags": ["Teams"],
        "responses": {
          "200": {
            "description": "Team information retrieved successfully",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsetsTeamInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v0/websets": {
      "servers": [
        {
          "url": "https://api.exa.ai/websets"
        }
      ],
      "post": {
        "description": "Creates a new Webset with optional search, import, and enrichment configurations. The Webset will automatically begin processing once created.\n\nYou can specify an `externalId` to reference the Webset with your own identifiers for easier integration.",
        "operationId": "websets-create",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebsetParameters"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webset created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webset"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "example": "req_N6SsgoiaOQOPqsYKKiw5",
                "required": true
              }
            }
          },
          "409": {
            "description": "Webset with this externalId already exists",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "example": "req_N6SsgoiaOQOPqsYKKiw5",
                "required": true
              }
            }
          }
        },
        "summary": "Create a Webset",
        "tags": ["Websets"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ]
      },
      "get": {
        "description": "Returns a list of Websets.\n\nYou can paginate through the results using the `cursor` parameter.\n\nYou can filter results using the `search` parameter to find Websets by ID, external ID, or title.",
        "operationId": "websets-list",
        "parameters": [
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The cursor to paginate through the results",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "The number of Websets to return",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "Search term to filter Websets by ID, external ID, or title",
            "schema": {
              "minLength": 2,
              "maxLength": 50,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Websets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebsetsResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "example": "req_N6SsgoiaOQOPqsYKKiw5",
                "required": true
              }
            }
          }
        },
        "summary": "List all Websets",
        "tags": ["Websets"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ]
      }
    },
    "/v0/websets/{id}": {
      "servers": [
        {
          "url": "https://api.exa.ai/websets"
        }
      ],
      "get": {
        "operationId": "websets-get",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "The id or externalId of the Webset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "required": false,
            "in": "query",
            "description": "Expand the response with the specified resources",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["items"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWebsetResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "example": "req_N6SsgoiaOQOPqsYKKiw5",
                "required": true
              }
            }
          },
          "404": {
            "description": "Webset not found",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "example": "req_N6SsgoiaOQOPqsYKKiw5",
                "required": true
              }
            }
          }
        },
        "summary": "Get a Webset",
        "tags": ["Websets"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "operationId": "websets-update",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "The id or externalId of the Webset",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebsetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webset updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webset"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "example": "req_N6SsgoiaOQOPqsYKKiw5",
                "required": true
              }
            }
          },
          "404": {
            "description": "Webset not found",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "example": "req_N6SsgoiaOQOPqsYKKiw5",
                "required": true
              }
            }
          }
        },
        "summary": "Update a Webset",
        "tags": ["Websets"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "description": "Deletes a Webset.\n\nOnce deleted, the Webset and all its Items will no longer be available.",
        "operationId": "websets-delete",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "The id or externalId of the Webset",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webset deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webset"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "example": "req_N6SsgoiaOQOPqsYKKiw5",
                "required": true
              }
            }
          },
          "404": {
            "description": "Webset not found",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "example": "req_N6SsgoiaOQOPqsYKKiw5",
                "required": true
              }
            }
          }
        },
        "summary": "Delete a Webset",
        "tags": ["Websets"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ]
      }
    },
    "/v0/websets/{id}/cancel": {
      "servers": [
        {
          "url": "https://api.exa.ai/websets"
        }
      ],
      "post": {
        "description": "Cancels all operations being performed on a Webset.\n\nAny enrichment or search will be stopped and the Webset will be marked as `idle`.",
        "operationId": "websets-cancel",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "The id or externalId of the Webset",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webset canceled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webset"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "example": "req_N6SsgoiaOQOPqsYKKiw5",
                "required": true
              }
            }
          }
        },
        "summary": "Cancel a running Webset",
        "tags": ["Websets"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ]
      }
    },
    "/v0/websets/preview": {
      "servers": [
        {
          "url": "https://api.exa.ai/websets"
        }
      ],
      "post": {
        "description": "Preview how a search query will be decomposed before creating a webset. This endpoint performs the same query analysis that happens during webset creation, allowing you to see the detected entity type, generated search criteria, and available enrichment columns in advance.\n\nUse this to help users understand how their search will be interpreted before committing to a full webset creation.",
        "operationId": "websets-preview",
        "parameters": [
          {
            "name": "search",
            "required": false,
            "in": "path",
            "description": "Weather you want to search for a preview list of items or not",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Search parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewWebsetParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preview of the webset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewWebsetResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "example": "req_N6SsgoiaOQOPqsYKKiw5",
                "required": true
              }
            }
          },
          "422": {
            "description": "Unable to detect entity or criteria from query",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "example": "req_N6SsgoiaOQOPqsYKKiw5",
                "required": true
              }
            }
          }
        },
        "summary": "Preview a webset",
        "tags": ["Websets Preview"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ]
      }
    },
    "/v0/websets/{webset}/items/{id}": {
      "servers": [
        {
          "url": "https://api.exa.ai/websets"
        }
      ],
      "get": {
        "description": "Returns a Webset Item.",
        "operationId": "websets-items-get",
        "parameters": [
          {
            "name": "webset",
            "required": true,
            "in": "path",
            "description": "The id or externalId of the Webset",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "The id of the Webset item",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webset Item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsetItem"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "example": "req_N6SsgoiaOQOPqsYKKiw5",
                "required": true
              }
            }
          }
        },
        "summary": "Get an Item",
        "tags": ["Items"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "description": "Deletes an Item from the Webset.\n\nThis will cancel any enrichment process for it.",
        "operationId": "websets-items-delete",
        "parameters": [
          {
            "name": "webset",
            "required": true,
            "in": "path",
            "description": "The id or externalId of the Webset",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "The id of the Webset item",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webset Item deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsetItem"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "example": "req_N6SsgoiaOQOPqsYKKiw5",
                "required": true
              }
            }
          }
        },
        "summary": "Delete an Item",
        "tags": ["Items"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ]
      }
    },
    "/v0/websets/{webset}/items": {
      "servers": [
        {
          "url": "https://api.exa.ai/websets"
        }
      ],
      "get": {
        "description": "Returns a list of Webset Items.\n\nYou can paginate through the Items using the `cursor` parameter.",
        "operationId": "websets-items-list",
        "parameters": [
          {
            "name": "webset",
            "required": true,
            "in": "path",
            "description": "The id or externalId of the Webset",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The cursor to paginate through the results",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "The number of results to return",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "type": "integer"
            }
          },
          {
            "name": "sourceId",
            "required": false,
            "in": "query",
            "description": "The id of the source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webset Items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebsetItemResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "example": "req_N6SsgoiaOQOPqsYKKiw5",
                "required": true
              }
            }
          }
        },
        "summary": "List all Items for a Webset",
        "tags": ["Items"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ]
      }
    },
    "/v0/websets/{webset}/enrichments": {
      "servers": [
        {
          "url": "https://api.exa.ai/websets"
        }
      ],
      "post": {
        "description": "Create an Enrichment for a Webset.",
        "operationId": "websets-enrichments-create",
        "parameters": [
          {
            "name": "webset",
            "required": true,
            "in": "path",
            "description": "The id or externalId of the Webset",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnrichmentParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enrichment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsetEnrichment"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "example": "req_N6SsgoiaOQOPqsYKKiw5",
                "required": true
              }
            }
          }
        },
        "summary": "Create an Enrichment",
        "tags": ["Enrichments"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ]
      }
    },
    "/v0/websets/{webset}/enrichments/{id}": {
      "servers": [
        {
          "url": "https://api.exa.ai/websets"
        }
      ],
      "patch": {
        "description": "Update an Enrichment configuration for a Webset.",
        "operationId": "websets-enrichments-update",
        "parameters": [
          {
            "name": "webset",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnrichmentParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "example": "req_N6SsgoiaOQOPqsYKKiw5",
                "required": true
              }
            }
          }
        },
        "summary": "Update an Enrichment",
        "tags": ["Enrichments"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ]
      },
      "get": {
        "operationId": "websets-enrichments-get",
        "parameters": [
          {
            "name": "webset",
            "required": true,
            "in": "path",
            "description": "The id or externalId of the Webset",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "The id of the Enrichment",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrichment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsetEnrichment"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Unique identifier for the request.",
                "example": "req_N6SsgoiaOQOPqsYKKiw5",
                "required": true
              }
            }
          }
        },
        "summary": "Get an Enrichment",
        "tags": ["Enrichments"],
        "security": [
          {
            "apiKey": []
          },
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "description": "When deleting an Enrichment, any running enrichments will be canceled and all existing `enrichment_result` generated by this Enrichment will no longer be available.",
        "operationId": "websets-enrichments-delete",
        "parameters": [
          {
            "name": "webset",
            "required": true,
            "in": "path",
            "description": "The id or externalId of the Webset",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "The id of the Enrichment",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrichment deleted",
[...]
